<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tài Khoản</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style_myaccount.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

</head>

<body>
    {{!-- header --}}
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            <li>Giao hàng miễn phí cho các đơn hàng trên 100K</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right align-right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__auth align-right">
                            {{#if user}}
                            <div style="font-size: 14px;">
                                <i class="fas fa-user-check"></i>
                                Hello
                                {{user.name}}
                            </div>
                            <a href="/myaccount">
                                <i class="fa fa-user" style="margin-left: 10px;"></i>
                                Tài Khoản</a>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt" style="margin-left: 10px;"></i>
                                Đăng Xuất</a>
                            {{else}}
                            <a href="/login">
                                <i class="fas fa-sign-in-alt" style="margin-left: 10px;"></i>
                                Đăng nhập</a>
                            <a href="/register"><i class="fa fa-user-plus" style="margin-left: 10px;"></i>
                                Đăng ký</a>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- header --}}
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Thông Tin Tài Khoản</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm align-items-stretch">
                <div class="col-md-4 mb-3 align-self-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle"
                                    width="150">
                                <div class="mt-3">
                                    <h4>{{user.name}}</h4>

                                    <p class="text-muted font-size-sm">{{user.address}}</p>

                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Họ Và Tên</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.name}}
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.email}}
                                </div>
                            </div>
                            <hr>


                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Địa Chỉ</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.address}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-info " target="__blank" href="/myaccount/edit">Chỉnh
                                        Sửa</a>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-info " target="__blank" href="/myaccount/changePassword">Đổi Mật
                                        Khẩu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>


</body>

</html>